.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 150px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 500;
}

.hero h1 span {
    background: linear-gradient(264deg,#98D2C0 -5.09%, #205781 106%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect,
.hero-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px; /* Ensure both have the same padding */
    width: 220px; /* Set a fixed width for both buttons */
    height: 60px; /* Set a fixed height */
    font-size: 20px; /* Ensure text size is the same */
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.hero-connect {
    background: linear-gradient(264deg, #98D2C0 -5.09%, #205781 106%);
    border: none;
    color: white;
}

.hero-resume {
    border: 2px solid #FFF;
    background: linear-gradient(264deg, #98D2C0 -5.09%, #205781 106%);;
    color: white;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #205781;
}



@media(max-width: 768px) {
    .hero img {
        margin-top: 120px;
        width: 260px;
    }
    
    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    
    .hero p {
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    
    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    
    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }
    
    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}