.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
}

.mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    width: 100%;
    text-align: center;
}

.mywork-item {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.mywork-item:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}

.project-link {
    font-size: 26px;
    font-weight: bold;
    color:  #98D2C0;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.project-link:hover {
    color: #98D2C0;
    text-decoration: underline;
}


.mywork-showmore:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .mywork {
        gap: 40px;
        margin: 50px 70px;
    }
    
    .mywork-title h1 {
        font-size: 50px;
    }

    .mywork-container {
        grid-template-columns: 1fr;
    }


}
