.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
  }
  
  .skills-title {
    position: relative;
  }
  
  .skills-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
    color: white;
  }
  
  .skills-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  /* Skills Grid */
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 👈 4 items per row */
    gap: 40px;
    width: 100%;
  }
  
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    color: white;
  }
  
  .skill:hover {
    transform: scale(1.05);
    background-color: #333;
  }
  
  .skill-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #98D2C0;
  }
  
  .skill p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .skills {
      gap: 50px;
      margin: 50px 70px;
    }
  
    .skills-title h1 {
      font-size: 50px;
      padding: 0;
    }
  
    .skills-title img {
      width: 130px;
      margin-right: -20px;
    }
  
    .skills-container {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 30px;
    }
  
    .skill-icon {
      font-size: 36px;
    }
  
    .skill p {
      font-size: 16px;
    }
  }
  