.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.skills-title {
    position: relative;
}

.skills-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    color: white;
}

.skills-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.skill:hover {
    transform: scale(1.10);
    border: 4px solid #205781;
}

.skill-icon {
    font-size: 50px;
    color:#98D2C0;
}

.skill p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}


.skills-showmore:hover {
    gap: 30px;
}

.skills-showmore img {
    width: 20px;
}

@media (max-width: 768px) {
    .skills {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .skills-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .skills-title img {
        width: 130px;
        margin-right: -20px;
    }

    .skills-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    
}
