.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    color: white;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    width: 100%;
    justify-content: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background: #222;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.contact-icon {
    font-size: 40px;
    color:#98D2C0;
    transition: 0.3s;
}

.contact-item:hover {
    transform: scale(1.1);
    background:hwb(22 88% 8%);
    color: #123458;
}

.contact-showmore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 30px 60px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.contact-showmore:hover {
    background:#F5EEDC;
    color: black;
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .contact-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .contact-title img {
        width: 130px;
        margin-right: -20px;
    }

    .contact-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .contact-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}
